

@font-face{
    font-family: "Blue Highway";
    src: url(../fonts/blue-highway.ttf);
}

body{
    background-image:linear-gradient(rgba(47,23,15,.65),rgba(47,23,15,.65)),url(../img/bg1.jpg);
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
}

#mainNav{
    background-color:rgba(47,23,15,.9);
    font-family: "Blue Highway";
}
#mainNav .navbar-brand{
    color:#e6a756
}
#mainNav .navbar-nav .nav-item .nav-link{
    color:rgba(255,255,255,.7);
    font-weight:800
}
#mainNav .navbar-nav .nav-item.active .nav-link{
    color:#e6a756}

/*EN ESAS MEDIDAS LA BARRA DE NAVEGACIÓN TENDRÁ ESAS CARACTERÍSTICAS*/
@media (min-width:992px){
    #mainNav .navbar-nav .nav-item .nav-link{
        font-size:.9rem
    }
    /*INTERACTUO PERO NO ACTIVO*/
    #mainNav .navbar-nav .nav-item .nav-link:hover{
        color:rgba(255,255,255,.4)
    }
    /*INTERACTUO Y HAGO CLICK*/    
    #mainNav .navbar-nav .nav-item.active .nav-link:hover{
        color:#e6a756}
}

.text-faded{
    color:rgba(255,255,255,.3)}

.site-heading{
    font-family: "Blue Highway";
    margin-top:5rem;
    margin-bottom:5rem;
    text-transform:uppercase;
    line-height:1;
}

.site-heading .site-heading-lower{
    font-family: "Blue Highway";
    font-size:5rem;
    font-weight:100;
    line-height:4rem
}

.footer {
    background-color: rgba(47, 23, 15, 0.9);
    font-family: "Blue Highway";
}
    
.footer .redesSociales{
    width:3vw;
    height:3vh;
}

li{
    list-style:none
}

h1,h2,h3,h4,h5,h6{
    font-family: "Blue Highway";
}

.section-title1 {
    font-family: "Blue Highway";
    text-transform: uppercase;
}

.intro {
    position: relative;
}

/*EN ESAS MEDIDAS LA IMAGEN Y EL TEXTO TENDRÁN ESAS CARACTERÍSTICAS*/
@media (min-width: 992px) {
    .intro .intro-img {
        width: 75%;
        float: right;
        border-radius: 1rem;
    }
    .intro .intro-text {
        left: 0%;
        width: 60%;
        margin-top: 5rem;
        position: absolute;
    }
}

@media (min-width: 1200px) {
    .intro .intro-text {
      width: 45%;
    }
}

.bg-parrafo1 {
    background-color: rgba(206, 205, 205, 0.85);
    border-radius: 0.5rem;
}

.p-texto1{
    font-family: "Blue Highway";
    text-align: justify;
}

.card-text{
    font-family: "Blue Highway";
    text-align: justify;
    margin-top: 1rem;
    color:whitesmoke;
}

.title-carusel{
    font-weight:bolder;
    margin-bottom: 7rem;
}

#titulo {
    font-family: "Blue Highway";
    color:white;
    font-size: medium;
    text-align: center;
    font-weight: bold;
}

.bg-cards{
    background: rgba(128, 128, 128, 0.548); 
    padding: 3rem;
}

hr {
    height: 10px;
    background-color: black;
}






