

@font-face{
    font-family: "Blue Highway";
    src: url(../fonts/blue-highway.ttf);
}

body{
    font-family: "Blue Highway";
    background-image:linear-gradient(rgba(47,23,15,.65),rgba(47,23,15,.65)),url(../img/bg.jpg);
    background-attachment:fixed;
    background-position:center;
    background-size:cover}

#mainNav{
    background-color:rgba(47,23,15,.9);
    font-family:"Blue Highway";
}
#mainNav .navbar-brand{
    color:#e6a756
}
#mainNav .navbar-nav .nav-item .nav-link{
    color:rgba(255,255,255,.7);font-weight:800
}
#mainNav .navbar-nav .nav-item.active .nav-link{
    color:#e6a756}@media (min-width:992px)
    {
    #mainNav .navbar-nav .nav-item .nav-link{
        font-size:.9rem
    }
    #mainNav .navbar-nav .nav-item .nav-link:hover{
        color:rgba(255,255,255,.4)
    }
    #mainNav .navbar-nav .nav-item.active .nav-link:hover{
        color:#e6a756}
}

.text-faded{
    color:rgba(255,255,255,.3)}
.site-heading{
    margin-top:5rem;
    margin-bottom:5rem;
    text-transform:uppercase;
    line-height:1;
    font-family:Raleway}
.site-heading .site-heading-lower{
    font-size:5rem;
    font-weight:100;
    line-height:4rem}
.footer {
    background-color: rgba(47, 23, 15, 0.9);
}
    
.footer .redesSociales{
    width:3vw;
    height:3vh;
}
li{
    list-style:none
}




